<h1 class="mt-4">Reservation</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Register</li>
</ol>

<div class="container">

    <form>
        <div class="row">
            <div hidden class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control"
                     name="id" disabled="true" />
                </div>
            </div>
        </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Room: *</label>
                        <select class="custom-select ">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
            
                <div class="col-md-6">
                   <div class="form-group">
                       <label>Guest: *</label>
                       <input type="text" class="form-control" name="cpf" />
                    </div>
                </div>
            </div>
            

            <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                        <label>InicialDate: *</label>
                        <input type="date" class="form-control"
                     name="cpf" />
                  </div>
                  </div>

                  <div class="col-md-6">
                      <div class="form-group">
                           <label>FinalDate: *</label>
                            <input type="date" class="form-control" name="cpf" />
                        </div>
                    </div>
            </div>
        
        
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" >
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>

    </form>
</div>
